/*****************************************************************************/
/* main: Style */
/*****************************************************************************/

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/_ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/_ionicons';

html, body {
    width: 100%;
    height: 100%;
    margin: 0em;
}